<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <p class="justify-center font-bold text-lg">Choose to add the following</p>
<div class="flex justify-center my-60">
    

    <a class="inline-block align-baseline font-bold text-lg text-red-500  bg-black rounded-full p-2 pl-4 pr-4" href="/admin/student">
        Student
    </a>

    <a class="inline-block align-baseline font-bold text-lg text-red-500 ml-20 bg-black rounded-full p-2 pl-4 pr-4" href="/admin/teacher">
        Teacher
    </a>

    <a class="inline-block align-baseline font-bold text-lg text-red-500 ml-20 bg-black rounded-full p-2 pl-4 pr-4" href="/admin/events">
        Event
    </a>
</div>
</form>